
<div class="row">
	<div class="col-lg-6">
		
		<h2 class='day_name'>
			<a href="/line_up_events/<%= @line_day.line_up_event.id %>" class='btn btn-lg btn-primary' style='color:white'><i class="fas fa-chevron-circle-left"></i> <%= @line_day.line_up_event.name %></a>
			<span style="float: right;">
				<%= @line_day.day %>
			</span>
		</h2>  
		
		<% if current_user.id == @line_day.user.id %>
			<div class="row">
				<a href="#" id='' data-target='#adminModal-add-slot' data-toggle="modal" class='btn btn-warning btn-lg col-md-6'><i class="fas fa-plus-circle"></i> Time Slot</a>
				<a href="#" id='' data-target='#adminModal-edit-grp' data-toggle="modal" class='btn btn-warning btn-lg col-md-6'><i class="fas fa-edit"></i>Edit Schedule</a>
			</div>
		<% end %>
		<p class='description'>
		  <%= @line_day.description %>
		</p>

	</div>

	<div class="col-lg-6">
		<p class='start'>
			Starts @ <b><%= @line_day.start.try(:strftime,'%I:%M %p at %a %B %e, %Y') %></b> 
		</p>
	</div>



</div>

<% 
		# @time_slots_infos = LineDay::TimeSlot.includes(holders: :user).where('line_day_time_slots.line_day_id=?',@line_day.id).map { |e| 
		# @time_slots_infos = @line_day.time_slots.eager_load(holders: :user).map { |e| 
		# @time_slots_infos = @line_day.time_slots.joins(holders: :user_id).map { |e| 
		# @time_slots_infos =@line_day.time_slots.joins(holders: :user).select('day, holders.id, holders.user_id, time, end_time').map { |e| 

		
		# @time_slots_infos = @line_day.time_slots.
    @time_slots_infos.each do |slot|
      slot['authenticity_token'] = form_authenticity_token
    end
%>

	<%
		all_ppl = Set.new
		@has_current = false
		@line_day.users.each { |e| 
			if e.id == current_user.id
				@has_current = true
			end
			all_ppl.add e.attributes.slice("name","id","avatar_url")
		}
	%>

<div class="centered">
	<div class="row file-folder top-row" style="background-color: transparent;">

		<a href="#" tab='schedule_container' class='top-tab col-md-6 expand-schedule btn-lg selected-tab' style="">
			<h4>
				Schedule
			</h4>
	</a>
		<a href="#" tab='chat_room_container' class='top-tab col-md-6 expand-chat btn-lg'>
			<h4>
				Expand Chat Room
			</h4>
		</a>

	</div>

	<div id="schedule_container" class='keeper' style=''>
		<%= 
			react_component("LineDaySchedule", { 
				day: @line_day.id, 
				time_slots: @time_slots_infos,
				is_admin: current_user.is_admin?,
				limit: @line_day.user_limit,
				all_hash: all_ppl,
				authenticity_token: form_authenticity_token,
				user_id: current_user.id,
				day_id: @line_day.id
			}) 

		%>


		<% if current_user.id ==  @line_day.user.id %>

<div id="adminModal-add-slot" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content time-slot-modal-body">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

				<div class="row admin-options" style="padding: 1%;">
					<div class="col-lg-12" style=" padding: 1%;
																		    background-color: transparent;
																		    color: black;
																		}">
																		<h3>Add another time slot</h3>
							<%= render :partial => 'line_day/time_slots/form' %>

					</div>

					
				</div>
      	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div id="adminModal-edit-grp" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content time-slot-modal-body">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">

				<div class="row admin-options-add-slot" style="padding: 1%;">
					

					<div class="col-lg-12">
						<h3>Edit this schedule</h3>
							<div class="form-group">
								<label for="user_limit">Group Limit</label>
								<input type="number" value='<%= @line_day.user_limit %>' id='user_limit_spec' name='user_limit' class='form-control'>
							</div>

							<div class="form-group">
								<label for="day">Title</label>
								<input type="text" value='<%= @line_day.day %>' id='day_spec' name='day' class='form-control'>
							</div>

							<div class="form-group">
								<label for="description">Description</label>
								<input type="text" value='<%= @line_day.description %>' id='description_spec' name='description' class='form-control'>
							</div>

							<div class="form-group">
								<label for="start">start</label>
								<input type="datetime-local" class='datepicker' value='<%= @line_day.start.strftime("%Y-%m-%dT%T") %>' id='start_spec' name='start' class='form-control'>
							</div>

							<div class="form-group">
								<a id='update-user-limit' class='btn btn-primary btn-md'>Update</a>
							</div>

							<div class='error'></div>
							<div class='success'></div>
					</div>
				</div>
      	
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


	<script>
		$('body').on('click', '#admin-options-toggle', function(event) {
			event.preventDefault();
			// $('.admin-options').toggle(300);
			$('#adminModal').modal('show');
		});
	</script>


		<% end %>

	</div>


	<div id="chat_room_container" class='keeper' style='padding: 0%; display: none;'>
		
		<%= 
			
			if @grp
				react_component("ChatBox", { 
					is_admin: current_user.is_admin?,
					chat_messages: @grp.message_list,
					global_chat_messages: ChatMessage.global_chats_messages,
					group_id: @grp.id,
					title: "#{@grp.name} Chat",
					danger_spinner: image_tag("danger.gif"),
					loading_spinner: image_tag("bar.gif"),
					current_user: current_user.attributes.slice('id')
				}) 
			else
				"No chat room for this day :("
			end
		%>

	</div>
</div>

<div class="map_container">
		<form action="/line_days/<%= @line_day.id%>/update_location" id='map_mark'>
			<input type="hidden" id='line_day_latitude' name="line_day[latitude]">
			<input type="hidden" id='line_day_longitude' name="line_day[longitude]">
			<input type="submit" value='Mark Location' class='btn btn-lg btn-primary btn-wide' id='map_mark_btn'>
		</form>
</div>
<div id="map_location" style="display: <%= (@line_day.longitude && @line_day.latitude) ? 'block' : 'none' %>;">
	<div id="map" style="overflow: auto;">
		<!-- TODO: must upload a new picture of the google map -->
		<img src="https://maps.googleapis.com/maps/api/staticmap?center=<%= @line_day.latitude %>,<%= @line_day.longitude %>&zoom=20&size=900x500&maptype=hybrid&scale=1&markers=color:red%7Clabel:LC%7C<%= @line_day.latitude %>,<%= @line_day.longitude %>&key=<%= ENV['GOOGLE_API_KEY']%>" alt="" style="width: 100%">
	</div>
</div>




<script>
	$('body').on('click', '.top-tab', function(event) {
		event.preventDefault();
		var element = $(this).attr('tab');
		$('.top-tab').addClass('hidden-tab')
		$(this).removeClass('hidden-tab')
		$(this).addClass('selected-tab')
		$('.keeper').css('display', 'none');
		$('#' + element).css('display', 'block');
	});
</script>


<style>
.top-row {
		background-color: #b8ec51;
		width: 100%;
		margin-top: 1%;
		font-size: 20px;
		font-weight: bold;
		width: 100%;
		margin: 0 auto;
  }


	.hidden-tab {
		background-color: transparent;
		color: black;
	}

  .file-folder .btn-primary{
        border-top-right-radius: 0px;
        border-top-left-radius: 0px;
	}


	.btn-primary {
		    border-color: #ecf0f5;
	}
}


@media (max-width: 960px) {
    
	.middle-tab {
		background-color: #372a4c;
    text-align: left;
	}

}
</style>



<script>
$('body').on('click', "#update-user-limit", function(event) {
	event.preventDefault();
	var that = this;
	$.ajax({
		url: '/line_days/<%= @line_day.id%>',
		type: 'PUT',
		data: {'line_day': {user_limit: $('#user_limit_spec').val(), day: $('#day_spec').val(), description: $('#description_spec').val(), start: $('#start_spec').val()}}
	})
	.done(function(data) {
		if (data.status == 200) {
			$('.success').text(data.message);
			$('.user_slot_limit').text(data.limit)
			$('.day_name').text(data.day)
			$('.description').text(data.description)
			$('.start').text(data.start)
		} else {
			$('.error').text(data.message);

		}
	})
	
});

// pop up modal
$('body').on('click', '.broadcast-message', function(event) {
	event.preventDefault();
	$("#modal_contact_id").val($(this).attr('data-id'));
	$("#time_slot_id").val($(this).attr('data-slot-id'));
	$("#contact_type").val($(this).attr('data-type'));
	$("#contact_indentifier").text($(this).attr('data-identifier'));
	$("#broadcast_to_contact").attr('action', $(this).attr('end-pt'));
	// $("#type_to_contact").attr('action', $(this).attr('end-pt'));
	$('.time-slot-modal-body').fadeIn(500, function() {});
});

// delete
$('body').on('click', '.delete-slot', function(event) {
	event.preventDefault();
	$.ajax({
		url: $(this).attr('href'),
		type: 'DELETE'
	})
	.done(function(data) {
	})
	
});

$('body').on('click', '.edit-slot', function(event) {
	event.preventDefault();
	$("#edit_time_slot").attr('action', $(this).attr('end-pt'));
	var text = $('#notes_for' + $(this).attr('data-id')).text();
	var st = $('#start_for' + $(this).attr('data-id')).val();
	var st_str = $('#start_for' + $(this).attr('data-id')).val();
	var en = $('#end_for' + $(this).attr('data-id')).val();
	var en_str = $('#end_for' + $(this).attr('data-id')).val();
	$("#time_slot_textarea").text(text);
	$('.delete_slot').attr('slot_id', $(this).attr('data-id') );

	var start = new Date(st);
	var end = new Date(en);
	$("#line_day_time_slot_time_span").val(st_str);
	$("#line_day_time_slot_end_time_span").val(en_str);
	$('.time-slot-modal-body').fadeIn(500, function() {});
});


// $('body').on('click', '.delete_slot', function(event) {
// 	event.preventDefault();
// 	$("#edit_time_slot").attr('method', 'DELETE');
// 	$("#edit_time_slot").trigger('submit');
// });




//sign up
$('body').on('click', '.send_text', function(event) {
	event.preventDefault();
	$('#broadcast_to_contact').trigger('submit');
});

$('body').on('click', '.update_notes', function(event) {
	event.preventDefault();
	$.ajax({
		url: $('#edit_time_slot').attr('action'),
		type: 'PATCH',
		data: $('#edit_time_slot').serialize(),
	})
	.done(function(data) {
		if (data.status == 200) {
			$("#notes_for" + data.id).text(data.description);
			$("#start_for_dis" + data.id).text(data.start_for);
			$("#date_for" + data.id).text(data.date_for);
		} else {
			$("#notice_message").css('color', 'red');
			$("#notice_message").text(data.message);
			$("#noticeModal").modal('show');
		}
	})
	
});


$('body').on('click', '.delete_slot', function(event) {
	event.preventDefault();
	var id = $(this).attr('slot_id');
	$(".time-row"+id).css('opacity', '0.5');
	$.ajax({
		url: $('#edit_time_slot').attr('action'),
		type: 'DELETE'
	})
	.done(function(data) {
		if (data.status == 200) {
			$("#noticeModal").find('#notice_message').text(data.message);
      $("#noticeModal").modal('show');
      $(".time-row"+data.id).hide('500');
		} else {
			$("#notice_message").css('color', 'red');
			$("#notice_message").text(data.message);
			$("#noticeModal").modal('show');
			$(".time-row"+data.id).css('opacity', '1');
		}
	})
	
});


</script>

<style>

</style>


<div id="timeSlotContactModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content time-slot-modal-body">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Time Slot Contact: <span id="contact_indentifier"></span></h4>
      </div>
      <div class="modal-body">
      	<form action="#" class='broadcast_to_slot' id='broadcast_to_contact' method='POST'>
      		<input type="hidden" name="authenticity_token" value='<%= form_authenticity_token %>' />
      		<input type="hidden" name="holder_contact[contact_id]" id="modal_contact_id">
      		<input type="hidden" name="holder_contact[slot_id]" id="time_slot_id">
      		<input type="hidden" name="holder_contact[contact_type]" id="contact_type">
		      <textarea name="holder_contact[body]" cols="50" rows="20"></textarea>
      	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="send_text btn btn-default" slot_id="" type="" data-dismiss="modal">Send</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div id="timeSlotEdit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content edit-time-slot-modal-body">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit</h4>
      </div>
      <div class="modal-body" class="update_notes btn btn-default">
      	<form action="#" class='edit_time_slot' id='edit_time_slot' method='PUT'>
      		<input type="hidden" name="authenticity_token" value='<%= form_authenticity_token %>' />
		      <textarea name="line_day_time_slot[description]" id="time_slot_textarea" value="" cols="50" rows="20"></textarea>
		      <% if current_user.is_admin? %>
		       <div class="row">
				    <div class="col-md-6">
			        <div class="line_day_time_slot_start">START TIME</div>
				      <div class="field form-group btn btn-primary btn-lg time-slot-edit-container" id='line_day_time_slot_time'>
				        <input class="form-control" id="line_day_time_slot_time_span" type="datetime-local" autocomplete='off' name="line_day_time_slot[time]" value=''>
				      </div>
				    </div>
				    <div class="col-md-6">
			        <div class="line_day_time_slot_end">END TIME</div>
				      <div class="field form-group btn btn-primary btn-lg time-slot-edit-container" id='line_day_time_slot_end_time'>
				        <input class="form-control" id="line_day_time_slot_end_time_span" type="datetime-local" autocomplete='off' name="line_day_time_slot[end_time]" value=''>
				      </div>
				    </div>

				  </div>

		      <% end %>
      	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="delete_slot btn btn-danger" slot_id="" type="" data-dismiss="modal">Destroy</button>
        <button type="button" class="update_notes btn btn-default" slot_id="" type="" data-dismiss="modal">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script>
var x = document.getElementById("demo");

// function getLocation() {
// 		$('.map_message').html('working...');
//     if (navigator.geolocation) {
//         navigator.geolocation.getCurrentPosition(showPosition);
//     } else { 
//     	$('.map_container').html("Geolocation is not supported by this browser.");
//     }
// }

function showPosition(position) {
		$("#line_day_longitude").val(position.coords.longitude);
		$("#line_day_latitude").val(position.coords.latitude);
		$("#map_mark").trigger('submit');
}


$("body").on('click', '#map_mark_btn', function(event) {
	event.preventDefault();
	$("#map_mark_btn").val('working...');
	if (navigator.geolocation) {
		navigator.geolocation.getCurrentPosition(showPosition);
	} else {
		alert("Geolocation is not supported by this browser.");
		$("#map_mark_btn").val('Geolocation is not supported by this browser');
	}


});

</script>

<style>
	.hidden-block {
		display: none;
	}

	.shown-block {
		display: block;
	}
</style>