<p id="notice"><%= notice %></p>
<h2 class='day_name'>
	<%= @line_day.day %>
	
</h2>  

<p class='description'>
  <%= @line_day.description %>
</p>

<% 
		time_slots_infos = @line_day.time_slots.map { |e| e.present_info(current_user.id) }
    time_slots_infos.each do |slot|
      slot['authenticity_token'] = form_authenticity_token
    end
%>

	<%
		all_ppl = Set.new
		@has_current = false
		@line_day.users.each { |e| 
			if e.id == current_user.id
				@has_current = true
			end
			all_ppl.add e.attributes.slice("name","id","avatar_url")
		}
	%>

<div class="centered">
	<div class="row file-folder top-row" style="background-color: transparent;">

		<a href="#" tab='schedule_container' class='top-tab col-md-6 expand-schedule btn-lg selected-tab' style="">
			<h4>
				Schedule
			</h4>
	</a>
		<a href="#" tab='chat_room_container' class='top-tab col-md-6 expand-chat btn-lg'>
			<h4>
				Expand Chat Room
			</h4>
		</a>

	</div>

	<div id="schedule_container" class='keeper' style=''>
		<%= 
			react_component("LineDaySchedule", { 
				day: @line_day.id, 
				time_slots: time_slots_infos,
				is_admin: current_user.is_admin?,
				limit: @line_day.user_limit,
				all_hash: all_ppl,
				authenticity_token: form_authenticity_token,
				user_id: current_user.id,
				day_id: @line_day.id
			}) 

		%>




		<% if current_user.is_admin? %>
		<div class="row" style="padding: 1%">
			<div class="col-lg-6" style=" padding: 1%;
																    background-color: #372a4c;
																    color: white;
																}">
																<h3>Add another time slot</h3>
					<%= render :partial => 'line_day/time_slots/form' %>
			</div>

			<div class="col-lg-6">
				<h3>Edit this schedule</h3>
					<div class="form-group">
						<label for="user_limit">Group Limit</label>
						<input type="integer" value='<%= @line_day.user_limit %>' id='user_limit_spec' name='user_limit' class='form-control'>
					</div>

					<div class="form-group">
						<label for="day">Title</label>
						<input type="text" value='<%= @line_day.day %>' id='day_spec' name='day' class='form-control'>
					</div>

					<div class="form-group">
						<label for="description">Description</label>
						<input type="text" value='<%= @line_day.description %>' id='description_spec' name='description' class='form-control'>
					</div>

					<div class="form-group">
						<a id='update-user-limit' class='btn btn-primary btn-md'>Update</a>
					</div>

					<div class='error'></div>
					<div class='success'></div>
			</div>
		</div>
		<% end %>

	</div>


	<div id="chat_room_container" class='keeper' style='padding: 0%; display: none;'>
		
		<%= 
			
			if @grp
				react_component("ChatBox", { 
					is_admin: current_user.is_admin?,
					chat_messages: @grp.message_list,
					global_chat_messages: ChatMessage.global_chats_messages,
					group_id: @grp.id,
					title: "#{@grp.name} Chat",
					danger_spinner: image_tag("danger.gif"),
					loading_spinner: image_tag("bar.gif"),
					current_user: current_user.attributes.slice('id')
				}) 
			else
				"No chat room for this day :("
			end
		%>

	</div>
</div>


		
<script>
	$('body').on('click', '.top-tab', function(event) {
		event.preventDefault();
		var element = $(this).attr('tab');
		$('.top-tab').addClass('hidden-tab')
		$(this).removeClass('hidden-tab')
		$(this).addClass('selected-tab')
		$('.keeper').css('display', 'none');
		$('#' + element).css('display', 'block');
	});
</script>


<style>
.top-row {
		background-color: #b8ec51;
		width: 100%;
		margin-top: 1%;
		font-size: 20px;
		font-weight: bold;
		width: 100%;
		margin: 0 auto;
  }


	.top-tab {
		width:50%;
		background-color: #222d32;
		/*color: black;*/
		/*border: white;*/
    border-color: transparent;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    /* border-top-right-radius: 10px; */
    border-top-right-radius: 50px;
	}

	.bottom-tab {
		background-color: #222d32;

	}

	.middle-tab {
		background-color: #372a4c;
	}

	.selected-tab {
		background-color: #222d32; 
		color: white;
	}

	.hidden-tab {
		background-color: transparent;
		color: black;
	}

	    .file-folder .btn-primary{
            border-top-right-radius: 0px;
            border-top-left-radius: 0px;
    }

}


@media (max-width: 960px) {
    
	.middle-tab {
		background-color: #372a4c;
    text-align: left;
	}

}
</style>



<script>
$('body').on('click', "#update-user-limit", function(event) {
	event.preventDefault();
	var that = this;
	$.ajax({
		url: '/line_days/<%= @line_day.id%>',
		type: 'PUT',
		data: {'line_day': {user_limit: $('#user_limit_spec').val(), day: $('#day_spec').val(), description: $('#description_spec').val()}}
	})
	.done(function(data) {
		if (data.status == 200) {
			$('.success').text(data.message);
			$('.user_slot_limit').text(data.limit)
			$('.day_name').text(data.day)
			$('.description').text(data.description)
		} else {
			$('.error').text(data.message);

		}
	})
	
});

// pop up modal
$('body').on('click', '.broadcast-message', function(event) {
	event.preventDefault();
	$("#modal_contact_id").val($(this).attr('data-id'));
	$("#time_slot_id").val($(this).attr('data-slot-id'));
	$("#contact_type").val($(this).attr('data-type'));
	$("#contact_indentifier").text($(this).attr('data-identifier'));
	$("#broadcast_to_contact").attr('action', $(this).attr('end-pt'));
	// $("#type_to_contact").attr('action', $(this).attr('end-pt'));
	$('.time-slot-modal-body').fadeIn(500, function() {});
});

// delete
$('body').on('click', '.delete-slot', function(event) {
	event.preventDefault();
	$.ajax({
		url: $(this).attr('href'),
		type: 'DELETE'
	})
	.done(function(data) {
	})
	
});

$('body').on('click', '.edit-slot', function(event) {
	event.preventDefault();
	$("#edit_time_slot").attr('action', $(this).attr('end-pt'));
	var text = $('#notes_for' + $(this).attr('data-id')).text();
	$("#time_slot_textarea").text(text);
	$('.time-slot-modal-body').fadeIn(500, function() {});
});


//sign up
$('body').on('click', '.send_text', function(event) {
	event.preventDefault();
	$('#broadcast_to_contact').trigger('submit');
});

$('body').on('click', '.update_notes', function(event) {
	event.preventDefault();
	// $('#edit_time_slot').trigger('submit');
	$.ajax({
		url: $('#edit_time_slot').attr('action'),
		type: 'PATCH',
		data: $('#edit_time_slot').serialize(),
	})
	.done(function(data) {
		$("#notes_for" + data.id).text(data.description);
	})
	
});



</script>

<style>

</style>


<div id="timeSlotContactModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content time-slot-modal-body">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Time Slot Contact: <span id="contact_indentifier"></span></h4>
      </div>
      <div class="modal-body">
      	<form action="#" class='broadcast_to_slot' id='broadcast_to_contact' method='POST'>
      		<input type="hidden" name="authenticity_token" value='<%= form_authenticity_token %>' />
      		<input type="hidden" name="holder_contact[contact_id]" id="modal_contact_id">
      		<input type="hidden" name="holder_contact[slot_id]" id="time_slot_id">
      		<input type="hidden" name="holder_contact[contact_type]" id="contact_type">
		      <textarea name="holder_contact[body]" cols="50" rows="20"></textarea>
      	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="send_text btn btn-default" slot_id="" type="" data-dismiss="modal">Send</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div id="timeSlotEdit" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content edit-time-slot-modal-body">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit</h4>
      </div>
      <div class="modal-body" class="update_notes btn btn-default">
      	<form action="#" class='edit_time_slot' id='edit_time_slot' method='PUT'>
      		<input type="hidden" name="authenticity_token" value='<%= form_authenticity_token %>' />
		      <textarea name="line_day_time_slot[description]" id="time_slot_textarea" value="" cols="50" rows="20"></textarea>
      	</form>
      </div>
      <div class="modal-footer">
        <button type="button" class="update_notes btn btn-default" slot_id="" type="" data-dismiss="modal">Update</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<style>
	.hidden-block {
		display: none;
	}

	.shown-block {
		display: block;
	}
</style>