<html>
  <head>
    <title>SdccGrpBuy</title>
    <link href="https://code.ionicframework.com/ionicons/2.0.0/css/ionicons.min.css" rel="stylesheet" type="text/css" />    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css" integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">

   
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application' %>


    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.2/themes/smoothness/jquery-ui.css" type="text/css" media="all" />
    
    <style>
    a.line-day:visited {
        color: #cdcdcd;
        background-color: #374750;
    }

    </style>
  </head>
  <% if flash[:error] %>
	  <div class="modal fade modal-danger" id="noticeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	    <div class="modal-dialog" role="document">
	      <div class="modal-content">
	        <div class="modal-header">
	          <h5 class="modal-title" id="exampleModalLabel">Notice</h5>
	          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	            <span aria-hidden="true">&times;</span>
	          </button>
	        </div>
	        <div class="modal-body">
            <p style='font-size: 25px; padding: 2%;line-height: 115%;color: white' id='notice_message'>
              <%= flash[:error] %>
            </p>
	        </div>
	        <div class="modal-footer">
	          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
	        </div>
	      </div>
	    </div>
	  </div>
    <script type="text/javascript">
      $("#noticeModal").modal('show');
    </script>
  <% end %>

<body>

		<div class="splash-image">
			<div class="" style="       display: block;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100%;
    color: black;
    padding: 5%;">
				
			<h1>
					Welcome!  Thank you for using this site to organize your next trip to comic con.
			</h1>


			<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#loginModal">
		  	Log In or Sign Up
			</button>

			</div>
		</div>
	<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Login or Sign Up</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="login-window">
					
					<% if current_user.nil? %>
						<form id="manual-login-form" method="POST" action='/users/manual_login'>
							<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
							<h3>Login</h3>
							<div class="success" style="color:green">
								<%= flash[:notice] if flash[:notice] %>
							</div>

							<div class="form-group">
								<input type="hidden" name="type" value='manual'>
						    <label for="login_email">Email address</label>
						    <input type="email" class="form-control" name='login[email]' id="login_email" aria-describedby="emailHelp" placeholder="Enter email">
						    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
						  </div>

							<div class="form-group">
						    <label for="password">Password</label>
						    <input type="password" class="form-control" name='login[password]' id="password" aria-describedby="emailHelp" placeholder="Enter Password">
						    <div id="reset-container">
							    <a href="#" class='login-link reset_pw_conf'>Forgot your password?</a>
						    </div>
						  </div>
						  
							<input type="submit" name="Login" value="Login" class='btn btn-lg btn-primary sign_log_in'>
						</form>

						<a href="#" id='new-user-link' class='btn btn-lg btn-primary' style='    width: 100%'>New User?  Sign up here</a>

						<form id="manual-signup-form" action='/users/manual_create' method="POST" style="display: none;">
							<%= hidden_field_tag :authenticity_token, form_authenticity_token %>
							<h3>Sign Up</h3>
							<div class="form-group">
						    <label for="signup_email">User Name</label>
						    <input type="text" class="form-control" name='signup[name]' id="signup_name" aria-describedby="emailHelp" placeholder="Enter desired username">
						    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
						  </div>

							<div class="form-group">
						    <label for="signup_email">Email address</label>
						    <input type="email" class="form-control" name='signup[email]' id="signup_email" aria-describedby="emailHelp" placeholder="Enter email">
						    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
						  </div>

							<div class="form-group">
						    <label for="password">Password</label>
						    <input type="password" class="form-control" name='signup[password]' id="signup_password" aria-describedby="emailHelp" placeholder="Enter password">
						  </div>

						  <div class="form-group">
						    <label for="confirmpassword">Confirm Password</label>
						    <input type="password" class="form-control" name='signup[password_confirmation]' id="signup_password" aria-describedby="emailHelp" placeholder="Please confirm password">
						  </div>

						  <div class="form-group">
						    <label for="avatarurl">Avatar URL(optional)</label>
						    <input type="avatarurl" class="form-control" name='signup[avatar_url]' id="signup_avatar" aria-describedby="emailHelp" placeholder="Enter url of a picture of yourself...if you want">
						  </div>

						  <div class="form-group">
								<input type="submit" name="SignUp" value='Sign Up' class='btn btn-lg btn-primary sign_log_in'>
						  </div>
						</form>
					<% end %>
				</div>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>

<div class="login-body">

<script type="text/javascript">
	$('body').on('click', '#new-user-link', function(event) {
		event.preventDefault();
		var signup = $('#manual-signup-form');
		var login = $('#manual-login-form');

		if (signup.css('display') == 'none') {
			signup.slideDown(500, function() {});
			login.slideUp(500, function() {});
			$(this).text('Already Have an account?  Log in here')
		} else {
			login.slideDown(500, function() {});
			signup.slideUp(500, function() {});
			$(this).text('New User?  Sign up here')
		}
	});
</script>

	
		<% if !current_user.try(:is_valid?) && current_user && current_user.has_a_val_code? %>
			<div class="val-code-box">
			<h3>
				validation code box
			</h3>
			<p>
				You were given a code via the e-mail that you signed up with, as part of your login to this site, you will need to use that code here
			</p>
				<form action='/members/validate_user'>
					<textarea name="code[code]" id='' class="form-control" style='width: 100%' placeholder="please enter the verification code given"></textarea>
					<br>
					<input type="submit" name="submit" class='btn btn-primary btn-lg' style='width: 100%'>
				</form>
			</div>
		<% end %>

<div class="row welcome-message">
	
		<div class="col-lg-6">
			


				<b>
					A few guide lines: 
				</b>
				<ul>
			<li>You must verify an e-mail with a manual sign up, this is to avoid abuse of the site, and people gaming the member pool.  This site will in no way sell, or profit from any information you provide via facebook, or otherwise, this is strictly a tool I created to help those who want an SDCC ticket have an easier time getting one.</li>
			<li>When you log in, you may create a 'buying group by navigating to the +GROUP button on top, from there, only the coordinator of that group may add members with thier SDCC membership ID.</li>
			<li>Please only add members of people that are trusted, this website assumes no liability for lost funds.</li>
			<li>Usually, every user signs only his or herself up.  But in the case that someone you know wants a ticket to SDCC but does not have a facebook account, you may sign them up using thier member ID, but you will assume respondsibility for them. </li>
			<li>You may buy tickets for up to 3 other people in addition to yourself, for this reason, a buying group has a maximum of 5 members  allowed to it, although a member can be part of up to 5 different buy groups, this is to ensure that people have an opportunity to buy for thier entire group if selected. There will always be one person in the group not covered but hopefully another group they are a part of may cover them.  This is my way to ensure the maximum amount of people who want a ticket may have to opportunity to buy one.</li>
			<li>If someone has registered a member you need to register, you may leave them a message on this site by clicking on thier avatar/portrait and following the instructions.</li>
		</ul>
		<hr>
		<p>By logging into this site for ticketing buying groups, you are agreeing to the following...</p>
	</div>
	<div class="col-lg-6">
		<h3>YOU MUST:</h3>
		<ul class="bbc_list">
			<li>Share personal information with the group leader. This includes (but may not be limited to) your last name, phone number and email address (information will never be shared elsewhere).</li>
			<li>Purchase badges for strangers (other people in the group, whom you may not know). <strong>Note that you are not allowed to buy badges for anyone who is not in your buying group.</strong> As such, make sure your friends/family are all in the same buying group.</li>
			<li>Stay online/in the waiting room during the sale even if a badge has already been purchased for you, to help out others in the group by buying for them.</li>
			<li>Join in a group chat (to be determined by the group leader) to stay in touch with your group on registration day.</li>
			<li>If someone else buys a badge for you, payment should be made immediately (usually Paypal) to the buyer. Ideally this should be done within 24 hours of the badge sale.</li>
			<li>If you buy badges for someone else, you should mail a screenshot or copy of the confirmation email to them immediately, so that they can confirm that they have a badge. At this time, it is appropriate to offer your payment information (usually Paypal) so that they can refund you.</li>
		</ul>

		</p>
		<h3>FOR LINE WAITING:</h3>
		<p>You must show up for shifts that you sign up for.  One person can hold the spot for up to 5 people, so the ratio we are going for is 1 to 5 per shift.  So if we have a group of 25 people in a group, there should be no fewer than 5 people in each shift.  A user limit per shift may be enforced in order to keep the shifts balanced.</p>
	</div>

</div>

<style>
	.login-link {
		border-color: transparent;
    width: 20%;
    color: blue;
    overflow: auto;
	}

	.note-message {
		padding: 2%;
	}
</style>

<script>
	$('body').on('click', '.reset_pw_conf', function(event) {
		event.preventDefault();
		$('#reset-container').text('sending reset link...')
		$.ajax({
			url: '/users/reset_password',
			data: {email: $("#login_email").val()}
		})
		.done(function() {
			console.log("success");

			$('#manual-login-form').html("<p class='note-message'>Validation has been sent to your e-mail.  Please find it and follow the instructions.</p>")
		})
		
	});
</script>


<footer class="main-footer">
    </footer>
    </div><!-- ./wrapper -->

    <!-- <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js" type="text/javascript"></script> -->
    <script>
      // $.widget.bridge('uibutton', $.ui.button);
    </script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/raphael/2.1.0/raphael-min.js"></script> -->
    
    <% if !Rails.env.development? %>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-75075620-2', 'auto');
        ga('send', 'pageview');

      </script>
    <% end %>


  </body>

  <style>
    @media (max-width: 1000px) {
    .main-header>.navbar {
        margin-left: 0px;
        margin-right: 0px;
    }

    .free {
        /*background-color: green;*/
        /*padding-bottom: 17%;*/
    }


    .main-header .logo, .main-header .navbar {
        width: 100%;
        float: none;
        position: relative!important;
    }


    .top-logo-prof-img {
        display: block;
        height: 50px;
        width: 50px;
        display: inline-block;
        margin-right: 10px;
    }

    .content-wrapper {
        margin-left: 0%;
    }

    .navbar-custom-menu {
        /*display: none;*/
        /*width: 100%*/
            width: 1000px;
    }

    .top-tab {
            width: 100%;
    }

    .responsive-top-menu {
        display: block;
    }

    .line-day-container {
      position: relative;
      display: inline-block;
      width: 100%;
      padding: 2%;
      overflow: auto;
      overflow-wrap: all;
      background-color: #222d32;
    }

    .navbar-custom-menu>.navbar-nav>li>.dropdown-menu {
      position: absolute;
      right: 5%;
      left: auto;
      border: 1px solid #ddd;
      background: #3c8dbc;
        width: 90%;
        margin-right: 0;
    }

/*    .dropdown-menu {
    }*/
    .dropdown-menu>li>a {
      color: #fff;
      background-color: #3c8dbc;
    }


}


  .switch_selector {
        border-width: 0px;
    width: 100px;
  }

  </style>

</html>