

<div class="row profile-container-edit">
  <div class="col-lg-2">
    <img src="<%= current_user.avatar_url %>" class="img-fluid user-image-prev" alt="User Image" style='max-height: 200px' />
    
  </div>
  <div class="col-lg-10">
    <form method="POST" action="/users/update_user">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <h1>Your Profile</h1>
        <div class="form-group">
          <label for="signup_email">User Name</label>
          <input type="text" class="form-control" value="<%= @user.name %>" name='update[name]' id="signup_name" aria-describedby="emailHelp" placeholder="Enter desired username">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="signup_email">Email address</label>
          <input type="email" class="form-control" value="<%= @user.email %>" name='update[email]' id="signup_email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="payment_info">Payment Info/Notes</label>
          <textarea type="avatarurl" class="form-control" name='update[payment_info]' id="payment_info"><%= @user.payment_info %></textarea>
        </div>

        <div class="form-group">
          <div class="row">
            <div class="col-sm-6">
              <label for="phone">Contact Number</label>
              <input type="text" class="form-control" name='update[phone]' id="phone" value='<%= @user.phone %>'></input>
            </div>

            <script>
              $('body').on('click', '#active_phone_selector', function(event) {
                event.preventDefault();
                if ($(this).find('i').hasClass('fa-toggle-on')) {
                  $(this).find('i').removeClass('fa-toggle-on');
                  $(this).find('i').addClass('fa-toggle-off');
                  $('input[name="update[active_phone]"]').val(0);
                } else {
                  $(this).find('i').removeClass('fa-toggle-off');
                  $(this).find('i').addClass('fa-toggle-on');
                  $('input[name="update[active_phone]"]').val(1);

                }
              });
            </script>

            <div class="col-sm-6">
              <div class="form-check">
                <input class="form-check-input" type="hidden" value="<%= @user.active_phone ? '1' : '0'  %>" name="update[active_phone]">
                <label class="form-check-label" for="defaultCheck1">
                  Receive SMS messages?
                </label>
                <a href="#" id='active_phone_selector' class="switch_selector">
                  <i class="fa <%= @user.active_phone ? 'fa-toggle-on' : 'fa-toggle-off'  %> fa-4x" aria-hidden="true" id=''></i>
                </a>
              </div>

            </div>
        </div>

        <div class="form-group">
          <label for="update[avatar_url]">Avatar URL(optional)</label>
          <input type="text" class="form-control" value="<%= @user.avatar_url %>" name='update[avatar_url]' id="signup_avatar" aria-describedby="emailHelp" placeholder="Enter url of yourself...if you want">
        </div>


        <h4>You may select any of the pre made avatars here:</h4>
        <ul>
          
        <% @avatars.each do |avatar| %>
          <li class='avatar_select'>
            <a href="#" data-link='<%= avatar %>' class='av-link' style='    border-style: none;'>
              <img src="<%= avatar %>" class="img-circle" alt="User Image" />
            </a>
          </li>
          
        <% end %>
        </ul>

        <input type="submit" value='Update Info' class='btn btn-lg btn-primary sign_log_in' style="width: 100%">
                
    </form>
    <%= link_to('Logout', destroy_user_session_path, method: :delete, class: 'btn btn-danger btn-md logout-button') %>
  </div>

</div>


  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->




<style>
  li.avatar_select {
        list-style: none;
    display: inline-block;
  }

  .av-link {

  }
</style>


<script>
  $('body').on('click', '.av-link', function(event) {
    event.preventDefault();
    var link = $(this).attr('data-link');


    $('.user-image-prev').attr('src', link);
    $('input[name="update[avatar_url]"]').val(link);

  });
</script>
