Hello and welcome back <%= @invitee.try(:name) %>!!, 

<br>

<p>
	you have been invited by user: <%= @user.name %> (<%= @user.email %>) to start signing up for line wait groups for the event: <b><%= @event.name %></b>, the lines for this event can be found at <a href="https://sdcctickets.herokuapp.com/line_up_events/<%= @event.id %>">this link</a>.
</p>

<p>
	Please click on the link to start signing up for wait shifts for the events listed.  If you forgot your password just click the 'forgot password' link at the signup/login page (after you click the signin/login button).
</p>