<p>
	Hello <%= @invitee.try(:name) %>, you have been invited by user: <%= @user.name %> (<%= @user.email %>) to start signing up for line wait groups for the event: <b><%= @event.name %></b>, the lines for this event can be found at <a href="https://sdcctickets.herokuapp.com/line_up_events/<%= @event.id %>">this link</a>.
</p>

<p>
	Please click on the link to start signing up for wait shifts for the events listed.  You will be brought to the main page, you may sign up for a new account, after you verify your e-mail.  Then once you have entered a <b>valid phone number</b> in your account page, you will be able to start signing up for wait shifts.
</p>