<div class="row">
  <div class="col-lg-6">
    <h1>Line Days for <%= @event.name %> @ <%= @event.location %></h1>
        <p>Coordinator:  <%= @event.user.try(:name) %> <img src="<%= @event.user.try(:avatar_url)%>" class='chat-avatar' alt="" style="    height: 30px;"></p>
  </div>
  <div class="col-lg-6">
    <% if current_user.id == @event.user_id %>
      <div class="row" style="   margin-right: 10%;">
        <div class="row">
        </div>
          <a href="#" id='' data-target='#adminModal-edit-event' data-toggle="modal" class='btn btn-warning btn-lg col-md-6'><i class="fas fa-edit"></i> Event</a>
          <a href="#" id='' data-target='#adminModal-add-day' data-toggle="modal" class='btn btn-warning btn-lg col-md-6'><i class="fas fa-plus-circle"></i> Line</a>
      </div>
      <div class="row" style="   margin-right: 10%;">
          <a href="#" id='' data-target='#adminModal-add-invite' data-toggle="modal" class='btn btn-warning btn-lg col-md-12'><i class="fas fa-envelope"></i> Invite people to this event</a>
      </div>
    <% end %>
  </div>

</div>
<div class="centered">

  <% 
  @line_days.each do |line_day|
  %>

  <%=
    react_component("LineDay", { 
        day: line_day.attributes.slice('day','description'), 
        start: line_day.start.strftime('%l:%M %P %A, %b %e %Y'),
        description: line_day.description,
        link: "/line_days/#{line_day.id}", 
        is_admin: current_user.id == @event.id,
        user_id: current_user.id,
        owner: @event.user.attributes.slice('id','name')
      }) 
  %>


  <%
    end
  %>

  <!-- adminModal-add-invite -->
<div id="adminModal-add-invite" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content time-slot-modal-body">
      <div class="modal-header">
        Invite People By Email
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        
        <p>Please enter emails of people you wish to invite to ths event, seperate emails by commas</p>

        <textarea name="invite[emails]" id="invite_email_list" cols="30" rows="10"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" id='invite_list_btn' class="btn btn-default" data-dismiss="modal">Invite List</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script>
  $('.body').on('click', '#invite_list_btn', function(event) {
    event.preventDefault();
    var emails = $("#invite_email_list").val();

    $.ajax({
      url: '/line_up_events/'+<%= @event.id %>+'/invite_emails',
      data: {emails: emails},
    })
    .done(function(data) {
      if (data.status == 200) {
        $("#noticeModal").find('#notice_message').css('color', 'green');
        $("#noticeModal").find('#notice_message').text(data.message)
        $("#noticeModal").modal('show');
      } else {
        $("#noticeModal").find('#notice_message').css('color', 'red');
        $("#noticeModal").find('#notice_message').text(data.message)
        $("#noticeModal").modal('show');
      }
    })
    
    /* Act on the event */
  });
</script>




<div id="adminModal-edit-event" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content time-slot-modal-body">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="col-lg-12">

          <% if current_user.id == @event.user_id %>

            <h1>Update this Event</h1>

              <form action='/line_up_events/<%= @event.id %>' id='update_event_form' method="PATCH">
                <input name="utf8" type="hidden" value="✓" /><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                <div class="row">
                  <div class="col-lg-12">
                    
                    <div class="form-group new-event-form">
                      <label for="line_up_event_name">Event Name</label>
                      <input type="text" class="form-control" id="line_up_event_name" aria-describedby="emailHelp" placeholder="Enter Event Name" value="<%= @event.name %>" name="event[name]">
                    </div>

                    <div class="form-group new-event-form">
                      <label for="line_up_event_location">Event Location</label>
                      <input type="text" class="form-control" id="line_up_event_location" aria-describedby="emailHelp" placeholder="Enter Event Location" value="<%= @event.location %>" name="event[location]">
                    </div>


                    <div class="form-group new-event-form">
                      <label for="description">Description</label>
                      <textarea class="form-control" id="description" name="event[description]" rows="10"><%= @event.description %></textarea>
                    </div>


                    <div class="row">
                    
                      <div class="col-lg-6">
                        <div class="form-check">
                          <label class="form-check-label" for="exampleCheck1">Active?</label>
                          <input type="checkbox" class="form-check-input" name="event[active]" value='1' id="exampleCheck1" checked>
                        </div>
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group new-event-form">
                          <input type="submit" value='Update Event' class="btn btn-primary" style="float: right;width: 100%;">
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>
              </form>

              <script>
                $('body').on('click', '.form-check-input', function(event) {
                  if ($(this).is(':checked')) {
                    $(this).val('1');
                  } else {
                    $(this).val('0');

                  }
                });
              </script>

          <% end %>

          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>



<div id="adminModal-add-day" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content time-slot-modal-body">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
                
          <div class="row">
            <div class="col-lg-12">
            <% if current_user.is_admin %>
                    
              <h1>Create a Line Up Group</h1>

              <form action='/line_days' method="POST">
                <input name="utf8" type="hidden" value="✓" /><input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
                <input type="hidden" name='line_day[line_up_event_id]' value='<%= @event.id %>'>
                <div class="row">
                  <div class="col-lg-12">
                    
                    <div class="form-group new-event-form">
                      <label for="line_up_event_name">Title</label>
                      <input type="text" class="form-control" id="line_up_event_name" aria-describedby="emailHelp" placeholder="Enter Event Name" name="line_day[day]">
                    </div>

                    <div class="form-group new-event-form">
                      <label for="line_up_event_start_date">Event Start Date</label>
                      <input type="date" class="form-control" id="line_up_event_start_date" aria-describedby="emailHelp" placeholder="Enter Event Start Date" name="line_day[start]">
                    </div>

                    <div class="form-group new-event-form">
                      <label for="description">Description</label>
                      <textarea class="form-control" id="description" name="line_day[description]" rows="10"></textarea>
                    </div>


                    <div class="row">
                    
                      <div class="col-lg-6">
                      </div>
                      <div class="col-lg-6">
                        <div class="form-group new-event-form">
                          <input type="submit" value='Create' class="btn btn-primary" style="float: right;width: 100%;">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                  </div>
                </div>
              </form>

              <script>
                $('body').on('click', '.form-check-input', function(event) {
                  if ($(this).is(':checked')) {
                    $(this).val('1');
                  } else {
                    $(this).val('0');

                  }
                });
              </script>


            <% end %>
          </div>
          </div>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




</div>


<style>
  
    .line-day {
      width: 90%;
      padding: 2%;
      margin: 1%;
      font-size: 20px;
      font-weight: bold;
      background-color: transparent;
      color: black;
      border-bottom: solid #d1cccc;
    }
  
    a:visited {
      color: white;
    }

</style>



<script>
	$('body').on('submit', '#update_event_form', function(event) {
		event.preventDefault();
		$.ajax({
			url: $(this).attr('action'),
			type: $(this).attr('method'),
			data: $(this).serialize(),
		})
		.done(function(data) {
			// $('#notice_message').text(data.message);
			// $("#noticeModal").modal('show');
		})
		
	});
</script>